* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Helpers Start */
.container {
    width: 1170px;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flexible {
    display: flex;
    flex-wrap: wrap;
}
/* Helpers End */

/* Header Section Start */
header {
    background-color: #fff;
    height: 97px;
    line-height: 97px;
}

#header-left {
    height: 97px;
}

#header-left a {
    display: block;
    padding: 10px 0 10px 0;
}

#header-right {
    width: 50%;
    height: 97px;
}

#header-right ul.contacts,
#header-right ul.social {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header-right ul.contacts > li,
#header-right ul.social > li {
    float: left;
    height: 100%;
}

#header-right ul.contacts > li {
    position: relative;
    width: 195px;
}

#header-right ul.social > li {
    width: 47px;
}

#header-right ul.contacts > li:not(:last-child) a i {
    color: #ab987a;
    margin-right: 5px;
}

#header-right ul.contacts > li:not(:nth-child(2))::before {
    position: absolute;
    left: 0;
    top: 25%;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #d5d5d5;
}

#header-right ul.contacts > li:not(:nth-child(2))::after {
    position: absolute;
    right: 0;
    top: 25%;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #d5d5d5;
}

#header-right ul.contacts > li a, header ul.social > li a {
    color: #032f3e;
    font-size: 18px;
    display: block;
}

#header-right ul.contacts > li a {
    width: 100%;
    height: 100%;
    padding: 0 15px 0 15px;
}
/* Header Section End */

/* Navbar Section Start */
nav {
    height: 97px;
    line-height: 97px;
    background-color: #032f3e;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

nav ul {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-right: 1px solid #0d3948;
    width: 195px;
}

nav ul li:first-child {
    border-left: 1px solid #0d3948;
}

nav ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li.active a {
    color: #ab987a;
}
/* Navbar Section End */

/* Top Slider Section Start */
#top-slider {
    position: relative;
    overflow: hidden;
}

#top-slider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    border: 50px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

#top-slider .item {
    position: relative;
}

#top-slider .item .slider-control {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#top-slider .item .slider-control a {
    color: #fff;
    display: block;
    font-size: 20px;

}

#top-slider .item .slide-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#top-slider .item .slide-down a {
    color: #ab987a;
    font-size: 30px;
}

#top-slider .item .slider-control a:not(:last-child) {
    margin-bottom: 10px;
}

#top-slider .item .slider-control a .square {
    display: block;
    transform: rotate(45deg);
    font-size: 10px;
}

#top-slider .item .slider-control a .angles {
    display: block;
}

#top-slider .item .slider-control a .active {
    color: #ab987a;
}

#top-slider .item .slider-control a .angles:first-child {
    margin-bottom: 20px;
}

#top-slider .item .slider-control a .angles:last-child {
    margin-top: 20px;
}

#top-slider .item .slider-body {
    position: relative;
}

#top-slider .item .slider-body .content {
    position: absolute;
    right: 10px;
    bottom: 80px;
    text-align: right;
    overflow: hidden;
}

.content h3 {
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.content h3:nth-child(2) {
    font-weight: lighter;
}

#top-slider .item .slider-body .content .content-video {
    width: 180px;
    height: 130px;
    line-height: 130px;
    background-color: #032f3e;
    margin-top: 10px;
}
#top-slider .item .slider-body .content .content-video a {
    color: #fff;
    display: block;
}

#top-slider .item .slider-body .content .content-video .video-icon {
    display: block;
    width: 50px;
    margin: auto;
    font-size: 50px;
}
/* Top Slider Section End */

/* Services Section Start */
#services {
    padding: 130px 0;
}

.info-box .info-top {
    width: 200px;
    margin: auto;
    text-align: center;
}

.info-box .info-top::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ab987a;
    width: 40px;
    margin: auto;
}

.info-box .info-top h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #032f3e;
}

.info-box .info-bottom {
    margin-top: 40px;
    text-align: center;
    color: #5c5c5c;
}

#services .services {
    margin-top: 100px;
}

#services .services .item {
    width: 33%;
    text-align: center;
    padding: 50px;
}

#services .services .item a {
    display: block;
}

#services .services .item .service-icon {
    display: block;
    width: 180px;
    padding: 60px;
    color: #ab987a;
    border: 1px solid #ab987a;
    border-radius: 50%;
    font-size: 60px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#services .services .item .service-title {
    color: #032f3e;
    line-height: 30px;
    font-size: 17px;
    width: 60%;
    margin: auto;
    text-transform: uppercase;
}

#services .services .item .service-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ab987a;
    width: 30px;
    margin: auto;
    margin-top: 20px;
}
/* Services Section End */

/* Lessons Section Start */
#lessons {
    background-color: #032f3e;
    padding: 130px 0;
}

#lessons .content {
    width: 50%;
}

#lessons .content .lesson-vertical {
    margin-top: 80px;
}

#lessons .content .lesson-vertical li {
    color: #fff;
    width: 100%;
    overflow: hidden;
}

#lessons .content .lesson-vertical li .lesson-icon {
    color: #ab987a;
    display: block;
    width: 20%;
    font-size: 40px;
    text-align: center;
    float: left;
    padding-top: 5px;
}

#lessons .content .lesson-vertical li:not(:last-child) .lesson-icon::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 60px;
    margin: 60px auto;
    transform: rotate(90deg);
}

#lessons .content .lesson-vertical li p {
    float: left;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}
/* Lessons Section End */