* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fb;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Helpers Start */
.container {
    width: 1170px;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.flexible {
    display: flex;
}

.box {
    padding: 130px 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* Helpers End */

/* Responsive Start */
/* For Large Devices */
@media screen and(min-width: 768px) and(max-width: 1200px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Responsive End */

/* Header Section Start */
header {
    background-color: #fff;
    height: 97px;
    line-height: 97px;
}

#mobile-nav {
    display: none;
    text-align: right;
    width: 20%;
}

#mobile-nav a {
    display: block;
    font-size: 50px;
    color: #0d3948;
    text-align: center;
}

#header-left {
    height: 97px;
}

#header-left a {
    height: 100%;
    display: block;
    padding: 10px 0 10px 0;
}

#header-right {
    width: 50%;
    height: 97px;
}

#header-right ul.contacts,
#header-right ul.social {
    display: flex;
    height: 100%;
}

#header-right ul.contacts > li {
    position: relative;
    max-width: 33.3%;
}

#header-right ul.social > li {
    width: 47px;
}

#header-right ul.contacts > li:not(:last-child) a i {
    color: #ab987a;
    margin-right: 5px;
}

#header-right ul.contacts > li:not(:nth-child(2))::before {
    position: absolute;
    left: 0;
    top: 25%;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #d5d5d5;
}

#header-right ul.contacts > li:not(:nth-child(2))::after {
    position: absolute;
    right: 0;
    top: 25%;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #d5d5d5;
}

#header-right ul.contacts > li a, header ul.social > li a {
    color: #032f3e;
    font-size: 17px;
    display: block;
}

#header-right ul.contacts > li a {
    padding: 0 35px 0 35px;
    height: 100%;
}
 /* For Large Devices */
@media screen and (max-width: 1200px) {
    #header-left {
        width: 100%;
        text-align: center;
    }

    #header-right {
        width: 90%;
        margin: auto;
    }

    header {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    #header-right {
        display: none;
    }

    #header-left {
        width: 40%;
    }

    #mobile-nav {
        display: block;
    }

    header {
        height: 97px;
    }
}
/* Header Section End */

/* Navbar Section Start */
nav {
    height: 97px;
    line-height: 97px;
    background-color: #032f3e;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

nav ul {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-right: 1px solid #0d3948;
    width: 195px;
}

nav ul li:first-child {
    border-left: 1px solid #0d3948;
}

nav ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li.active a {
    color: #ab987a;
}

@media screen and (max-width: 1200px) {
    nav ul li {
        width: 33%;
        border-bottom: 1px solid #0d3948;
    }

    nav {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
        height: 97px;
    }
}
    /* Navbar Section End */

/* Top Slider Section Start */
#top-slider {
    position: relative;
    overflow: hidden;
}

#top-slider::after,
#testimonials::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 50px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

#top-slider .item {
    position: relative;
    background: url("/uploads/slider-1.jpg") no-repeat center;
    height: 850px;
}

.slider-control {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-control a {
    color: #fff;
    display: block;
    font-size: 20px;
}

#top-slider .item .slide-down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#top-slider .item .slide-down a {
    color: #ab987a;
    font-size: 30px;
}

.slider-control a:not(:last-child) {
    margin-bottom: 10px;
}

.slider-control a .square {
    display: block;
    transform: rotate(45deg);
    font-size: 10px;
}

.slider-control a .angles {
    display: block;
}

.slider-control a .active {
    color: #ab987a;
}

.slider-control a .angles:first-child {
    margin-bottom: 20px;
}

.slider-control a .angles:last-child {
    margin-top: 20px;
}

#top-slider .item .content {
    text-align: right;
    overflow: hidden;
    transform: translateY(140%);
}

.content h3 {
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.content h3:nth-child(2) {
    font-weight: lighter;
}

#top-slider .item .content .content-video {
    width: 180px;
    height: 130px;
    line-height: 130px;
    background-color: #032f3e;
    margin-top: 10px;
}
#top-slider .item .content .content-video a {
    color: #fff;
    display: block;
}

#top-slider .item .content .content-video .video-icon {
    display: block;
    width: 50px;
    margin: auto;
    font-size: 50px;
}

@media screen and (max-width: 1200px) {
    #top-slider .item .slider-control {
        top: 40%;
        transform: translateY(-40%);
    }
}

@media screen and (max-width: 768px) {
    #top-slider .item .content h3 {
        font-size: 40px;
    }

    #top-slider .item {
        height: 500px;
    }

    #top-slider .item .content {
        transform: translateY(30%);
    }
}

@media screen and (max-width: 600px) {
    #top-slider .item .content h3 {
        font-size: 30px;
    }

    #top-slider .item .content {
        text-align: center;
    }

    #top-slider .item .content .content-video {
        float: none;
        margin: auto;
    }

}
/* Top Slider Section End */

/* Services Section Start */
.info-box .info-top {
    width: 200px;
    margin: auto;
    text-align: center;
}

.info-box .info-top::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ab987a;
    width: 40px;
    margin: auto;
}

.info-box .info-top h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #032f3e;
}

.info-box .info-bottom {
    margin-top: 40px;
    text-align: center;
    color: #5c5c5c;
}

#services .services {
    margin-top: 100px;
}

#services .services .item {
    flex-basis: 33%;
    text-align: center;
    padding: 40px;
}

#services .services .item a {
    display: block;
}

#services .services .item .service-icon {
    display: block;
    width: 180px;
    padding: 60px;
    color: #ab987a;
    border: 1px solid #ab987a;
    border-radius: 50%;
    font-size: 60px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#services .services .item .service-title {
    color: #032f3e;
    line-height: 30px;
    font-size: 17px;
    width: 60%;
    margin: auto;
    text-transform: uppercase;
}

#services .services .item .service-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ab987a;
    width: 30px;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #services .services {
        flex-direction: column;
    }
}
/* Services Section End */

/* Lessons Section Start */
#lessons {
    background-color: #032f3e;
}

#lessons .content {
    width: 50%;
}

#lessons .content .lesson-vertical {
    margin-top: 80px;
}

#lessons .content .lesson-vertical li {
    color: #fff;
    width: 100%;
    overflow: hidden;
}

#lessons .content .lesson-vertical li .lesson-icon {
    color: #ab987a;
    display: block;
    width: 20%;
    font-size: 40px;
    text-align: center;
    float: left;
    padding-top: 5px;
}

#lessons .content .lesson-vertical li:not(:last-child) .lesson-icon::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 60px;
    margin: 60px auto;
    transform: rotate(90deg);
}

#lessons .content .lesson-vertical li p {
    float: left;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    #lessons .content {
        margin: auto;
        width: 80%;
        max-width: 100%;
    }
}
/* Lessons Section End */

/* Projects Section Start */
#projects .project {
    background-color: #fff;
    margin-top: 130px;
}

#projects .container {
    position: relative;
}

#projects .container .x-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: -50px;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}

#projects .container .x-button a {
    display: block;
    color: #9e9e9e;
}

#projects .project .project-left img {
    max-width: 100%;
    height: auto;
}

#projects .project .project-left {
    flex-basis: 65%;
}

#projects .project .project-slider-control {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

#projects .project .project-slider-control a {
    display: inline-block;
    font-size: 12px;
    color: #dadcdc;
}

#projects .project .project-slider-control a .square {
    display: block;
    transform: rotate(45deg);
}

#projects .project .project-slider-control a:nth-child(3) {
    color: #ab987a;
    margin: 0 15px;
}

#projects .project .project-slider-control a .angles {
    display: block;
    font-size: 20px;
}

#projects .project .project-slider-control a .angles:first-child {
    margin-right: 120px;
}

#projects .project .project-slider-control a .angles:last-child {
    margin-left: 120px;
}

#projects .project .project-right {
    padding: 60px 0 0 30px;
    flex-basis: 35%;
}

#projects .project .project-right .folder {
    color: #ab987a;
    text-transform: uppercase;
    float: left;
    font-size: 13px;
}

#projects .project .project-right .calendar {
    float: right;
    color: #9e9e9e;
    display: block;
    text-align: right;
    font-size: 13px;
}

#projects .project .project-right h4 {
    margin-top: 50px;
    color: #032f3e;
    font-size: 18px;
    line-height: 30px;
}

#projects .project .project-right p {
    color: #5c5c5c;
    line-height: 25px;
}

#projects .project .project-right .button {
    padding: 20px 50px;
    background-color: #032f3e;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 70%;
    margin: 30px 0;
}

#projects .project .project-right .share-icons {
    margin-top: 60px;
}

#projects .project .project-right .share-icons p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #9e9e9e;
    margin-right: 25px;
}

#projects .project .project-right .share-icons li {
    display: inline-block;
}

#projects .project .project-right .share-icons li a {
    color: #9e9e9e;
}

#projects .project .project-right .share-icons li:nth-child(3) {
    margin: 0 30px;
}

#projects .project .project-right h4::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ab987a;
    width: 30px;
    margin: 30px 0;
}

#projects .project .project-right .folder i,
#projects .project .project-right .calendar i{
    margin-right: 5px;
}



#projects .project-categories .item {
    flex-basis: 33%;
    position: relative;
}

#projects .project-categories .item a {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

#projects .project-categories .item a i {
    margin-right: 5px;
}

#projects .project-categories .item .bottom a {
    top: 25px;
    left: 40px;
}

#projects .project-categories .item .top a {
    top: 10px;
    left: 40px;
}

#projects .project-categories .item .top {
    padding: 0 30px 15px 30px;
    position: relative;
}

#projects .project-categories .item .bottom {
    padding: 15px 30px 0 30px;
    position: relative;
}

#projects .project-categories .item img,
#projects .project-categories .item .top img {
    width: 100%;
    max-width: 100%;
}

#projects .pagination {
    width: 200px;
    overflow: hidden;
    float: right;
    justify-content: space-around;
    margin-top: 50px;
}

#projects .pagination a {
    display: block;
    padding: 15px 25px;
    border: 3px solid #ab987a;
}

#projects .pagination a i {
    font-size: 30px;
}

#projects .pagination .left {
    color: #ab987a;
}

#projects .pagination .right {
    background-color: #ab987a;
    color: #fff;
}

#projects .pagination .right:hover {
    background-color: #fff;
    color: #ab987a;
}

#projects .pagination .left:hover {
    background-color: #ab987a;
    color: #fff;
}

#projects .pagination .left,
#projects .pagination .right {
    transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
    #projects .project .a {
        flex-direction: column;
    }

    #projects .project .project-slider-control {
        width: 50%;
    }

    #projects .project .project-slider-control a .angles:first-child {
        margin-right: 20px;
    }

    #projects .project .project-slider-control a .angles:last-child {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    #projects .project-categories {
        flex-direction: column;
    }

    #projects .project-categories .item .top,
    #projects .project-categories .item .bottom {
        padding: 0;
        width: 100%;
    }

    #projects .project-categories .item .top {
        margin-bottom: 20px;
    }

    #projects .project-categories .item:nth-child(2) {
        margin: 20px 0;
    }

}
/* Projects Section End */

/* Call Us Section Start */
#call-us {
    background-color: #9e9e9e;
    color: #032f3e;
    padding: 50px 0;
    height: 200px;
}

#call-us .items .item {
    flex-basis: 50%;
}

#call-us .items .left .skype-icon {
    font-size: 110px;
    margin-right: 40px;
}

#call-us .items .left .description {
    width: 90%;
}

#call-us .items .left .description p {
    font-size: 29px;
    text-transform: uppercase;
    line-height: 40px;
}

#call-us .items .left .top {
    font-weight: bold;
}

#call-us .items .left .bottom {
    font-weight: lighter;
}

#call-us .items .right .pagination {
    width: 100%;
    padding: 20px 0;
}

#call-us .items .right .pagination .left {
    margin-right: 30px;
    color: #032f3e;
    background-color: transparent;
}

#call-us .items .right .pagination .left:hover {
    color: #fff;
    background-color: #032f3e;
}

#call-us .items .right .pagination .right {
    background-color: #032f3e;
    color: #fff;
}

#call-us .items .right .pagination .right:hover {
    background-color: transparent;
    color: #032f3e;
}

#call-us .items .right .pagination .item {
    flex-basis: 50%;
    display: block;
    padding: 20px 40px;
    border: 3px solid #032f3e;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease;
}

@media screen and (max-width: 992px) {
    #call-us .items {
        flex-direction: column;
    }

    #call-us {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    #call-us .items .right .pagination {
        flex-direction: column;
    }

    #call-us .items .right .pagination .left {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
/* Call Us Section End */

/* Articles Section Start */
#articles .articles {
    width: 100%;
    padding-top: 130px;
}

#articles .articles .article {
    flex-basis: 50%;
    height: auto;
}

#articles .articles .article .thumbnail {
    height: 200px;
    flex-direction: column;
    align-items: flex-end;
    background: url("/uploads/slider-1.jpg") no-repeat;
}

#articles .articles .left .info {
    padding: 30px 10px 20px 20px;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-radius: 0 0 5px 5px;
}

#articles .articles .left .info h3,
#articles .articles .right .small-item .middle h3 {
    font-size: 17px;
    color: #032f3e;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

#articles .articles .left .info h3::after {
    content: "";
    display: block;
    border-bottom: 3px solid #ab987a;
    width: 30%;
    margin-top: 30px;
}

#articles .articles .left .info p {
    color: #5c5c5c;
    line-height: 30px;
    margin: 30px 0;
}

#articles .articles .left .info a,
#articles .articles .right .small-item .middle a {
    display: block;
    font-size: 14px;
}

#articles .articles .left .info a i,
#articles .articles .right .small-item .middle a i {
    font-size: 15px;
}

#articles .articles .left .info .folder,
#articles .articles .right .small-item .middle .folder {
    text-transform: uppercase;
    color: #ab987a;
}

#articles .articles .left .info .folder i,
#articles .articles .right .small-item .middle .folder i {
    margin-right: 10px;
}

#articles .articles .left .info .circle {
    color: #032f3e;
}

#articles .articles .left {
    margin-right: 10px;
}

#articles .articles .right {
    margin-left: 10px;
    flex-direction: column;
    position: relative;
}

#articles .articles .right .slider-control {
    right: -40px;
}

#articles .articles .right .slider-control a {
    font-size: 25px;
}

#articles .articles .right .slider-control a:first-child {
    margin-bottom: 50px;
}

#articles .articles .right .slider-control a:last-child {
    margin-top: 50px;
}

#articles .articles .right .slider-control a .angles {
    color: #d6d6d6;
}

#articles .articles .right .slider-control a:not(:nth-child(3)) .square {
    border: 3px solid #d6d6d6;
    font-size: 3px;
    width: 10px;
    margin: 0 auto;
}

#articles .articles .right .slider-control a:nth-child(3) .square {
    font-size: 12px;
    margin: 18px 0;
}

#articles .articles .right .small-item .left {
    flex-basis: 33%;
    height: 100%;
}

#articles .articles .right .small-item .left img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#articles .articles .right .small-item .middle {
    flex-basis: 57%;
    padding: 15px 15px 10px 15px;
}

#articles .articles .right .small-item .right {
    flex-basis: 10%;
}

#articles .articles .right .small-item {
    height: 134px;
    background-color: #fff;
    border: 1px solid #eee;
}

#articles .articles .right .small-item:nth-child(2) {
    margin: 73px 0;
}

#articles .articles .right .small-item:last-child {
    background-color: #032f3e;
}

#articles .articles .right .small-item:last-child .middle h3 {
    color: #fff;
}

#articles .articles .right .small-item .middle a {
    margin-top: 15px;
}

.top-comment, .bottom-date {
    width: 66px;
    height: 66px;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.top-comment i, .bottom-date i {
    font-size: 25px;
    margin-bottom: 5px;
}

.top-comment {
    background-color: #ab987a;
}

.bottom-date{
    background-color: #032f3e;
}

#articles .button {
    display: block;
    color: #ab987a;
    background-color: transparent;
    border: 3px solid #ab987a;
    padding: 20px 40px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease;
    width: 277px;
    margin: auto;
    margin-top: 70px;
}

#articles .button:hover {
    background-color: #ab987a;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    #articles .articles .article {
        height: auto;
    }

    #articles .articles .right .small-item .middle h3,
    #articles .articles .left .info h3,
    #articles .articles .left .info p {
        font-size: 15px;
        line-height: 20px;
    }

    #articles .articles .right .small-item .middle {
        padding: 10px;
    }

    #articles .articles .right .small-item .middle .folder,
    #articles .articles .left .info .folder {
        font-size: 10px;
    }

    #articles .articles .right .small-item .middle .folder i,
    #articles .articles .left .info .folder i {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .top-comment, .bottom-date {
        width: 33px;
        height: 33px;
        padding: 5px;
        font-size: 10px;
    }

    .top-comment i, .bottom-date i {
        font-size: 12px;
    }

    #articles .articles .right .slider-control {
        right: -30px;
    }
}

@media screen and (max-width: 768px) {
    #articles .articles {
        flex-direction: column;
    }

    .top-comment, .bottom-date {
        width: 66px;
        height: 66px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .top-comment i, .bottom-date i {
        font-size: 25px;
    }

    #articles .articles .article:first-child {
        margin-bottom: 70px;
    }

    #articles .button {
        width: 136px;
        padding: 10px 20px;
        font-size: 10px;
    }
}
/* Articles Section End */

/* Testimonials Section Start */
#testimonials {
    background: url("/uploads/background.jpg") no-repeat center;
    text-align: center;
    background-size: cover;
    position: relative;
}

#testimonials::after {
    border-color: transparent transparent #ab987a transparent;
}

#testimonials .map {
    position: absolute;
    display: block;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 20px;
}

#testimonials .person {
    margin-top: 100px;
    position: relative;
}

#testimonials .person .image {
    border-radius: 50%;
    border: 3px solid #ab987a;
    width: 170px;
    margin: auto;
    overflow: hidden;
    background-size: contain;
}

#testimonials .person .image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#testimonials .person .bio {
    margin: auto;
    width: 70%;
    margin-top: 40px;
}

#testimonials .person .bio p:first-child {

    color: #5c5c5c;
}

#testimonials .person .bio h3 {
    font-size: 24px;
    color: #032f3e;
    margin-top: 40px;
}

#testimonials .person .bio p:last-child {
    font-size: 18px;
    color: #ab987a;
    margin-top: 20px;
}

#testimonials .person button {
    position: absolute;
    width: 66px;
    height: 66px;
    background: transparent;
    border: 3px solid #ab987a;
    color: #ab987a;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#testimonials .person button:hover {
    background-color: #ab987a;
    color: #fff;
}

#testimonials .person button.left {
    left: 0;
    top: 40%;
    transform: translateY(-40%);
}

#testimonials .person button.right {
    right: 0;
    top: 40%;
    transform: translateY(-40%);
}

@media screen and (max-width: 768px) {
    #testimonials .person button {
        width: 50px;
        height: 50px;
        font-size: 17px;
    }

    #testimonials .person .image {
        width: 140px;
    }

    #testimonials .person .bio h3 {
        font-size: 20px;
    }

    #testimonials .person .bio p:last-child {
        font-size: 15px;
    }
}
/* Testimonials Section End */

/* Map Section Start */
#map {
    border-top: 5px solid #ab987a;
    position: relative;
}

#map .mapouter,
#map .mapouter .gmap_canvas {
    width: 100%;
}

.mapouter {
    text-align:right;
    height:659px;
    width:1170px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:659px;
    width:1170px;
}

#map .address {
    position: absolute;
    width: 390px;
    top: 150px;
    left: 60%;
    transform: translateX(-60%);
    background-color: #fff;
    padding: 20px;
    color: #032f3e;
}

#map .address::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotateY(77deg);
    border: 77px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

#map .address .content {
    width: 70%;
    line-height: 25px;
}

#map .address .content h4 {
    text-transform: uppercase;
    font-weight: bold;
}

#map .address img {
    padding: 5px;
    margin-right: 15px;
}

#map .address .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9e9e9e;
}
/* Map Section End */